<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bleyl.recurrence">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.CreateEditActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".ui.activities.ViewActivity"
            android:label="@string/view_notification"
            android:theme="@style/AppThemeLight" />
        <activity
            android:name=".ui.activities.PreferenceActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppThemeLight" />

        <receiver android:name=".receivers.AlarmReceiver" />
        <receiver android:name=".receivers.NagReceiver" />
        <receiver android:name=".receivers.SnoozeActionReceiver" />
        <receiver android:name=".receivers.SnoozeReceiver" />
        <receiver android:name=".receivers.DismissReceiver" />
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
